#mainNav .navbar-brand:hover {
    color: #2937f0;
}

.masthead {
    padding-top: 9.5rem;
    padding-bottom: 5rem;
}
.small_logo{
    height: 3rem;
}
.cta {
    position: relative;
    padding: 15rem 0;
    background-image: url("../img/bg.jpeg");
    background-position: center;
    background-size: cover;
}
.cta .cta-content {
    position: relative;
    z-index: 1;
}
/* section.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
} */
.shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.icon-feature {
    font-size: 4rem;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.cta .container{
    position: relative;
    z-index: 1;
}
.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}
.text-gradient {
    background: -webkit-linear-gradient(#2937f0, #9f1ae2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

aside,
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.app-badge {
    height: 3rem;
}
